{% extends '::base.html.twig' %}

{% block title %}Login{% endblock %}

{% block pagetitle %}Login{% endblock %}

{% block body %} 
    <form id="login-form" role="form" class="form" action="{{ path('login_check') }}" method="post">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" name="_username" id="username" placeholder="Username" value="{{ last_username }}">
        </div>
        
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="_password" id="password" placeholder="Password">
        </div>

      <button class="btn btn-default btn-block" type="submit">Login</button>
      {% if error %}
        <div class="alert-error">{{ error.message }}, please try again.</div>
    {% endif %}
    </form>
{% endblock %}